.form-container{
    background-color:rgb(240, 119, 38);
    width: 400px; 
    margin: 0px auto; 
    margin-top: 200px;
    padding:3rem;
    border-radius: 25px;
    
    button {
        display: block;
    }
    span.amountInfo{
        vertical-align: super;
        color: white;
    }
}
    
.result{
    background-color: green;
    color: white;
    font-size: 1.4rem;
    width: 400px;
    padding: 30px;
    margin: 30px auto;
    border-radius: 25px;
}


