<div class="form-container">
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Monthly Income</mat-label>
            <input matInput type="number" formControlName="monthlyIncome">
            <span class="amountInfo" matPrefix>kr&nbsp;&nbsp;&nbsp; </span>
            <span class="amountInfo" matSuffix>.00</span>

            <mat-error *ngIf="loanForm.controls.monthlyIncome.touched && loanForm.controls.monthlyIncome.invalid">
                <span *ngIf="loanForm.controls.monthlyIncome.errors!.required">This field is mandatory.</span>
                <span *ngIf="loanForm.controls.monthlyIncome.errors!.min">Minimum requirement is 500000 SEK</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Loan Amount</mat-label>
            <input matInput type="number" formControlName="requestedAmount">
            <span class="amountInfo" matPrefix>kr&nbsp;&nbsp;&nbsp; </span>
            <span class="amountInfo" matSuffix>.00</span>
            <mat-error *ngIf="loanForm.controls.requestedAmount.touched && loanForm.controls.requestedAmount.invalid">
                <span *ngIf="loanForm.controls.requestedAmount.errors!.required">This field is mandatory.</span>
                <span *ngIf="loanForm.controls.requestedAmount.errors!.min">Minimum requirement is 20000000 SEK</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Loan Term</mat-label>
            <input type="number" matInput formControlName="loanTerm">
            <span class="amountInfo" matSuffix>months</span>
            <mat-error *ngIf="loanForm.controls.loanTerm.touched && loanForm.controls.loanTerm.invalid">
                <span *ngIf="loanForm.controls.loanTerm.errors!.required">This field is mandatory.</span>
                <span *ngIf="loanForm.controls.loanTerm.errors!.min">Minimum period is 36 months</span>
                <span *ngIf="loanForm.controls.loanTerm.errors!.max">Maximum period is 360 months</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Children</mat-label>
            <mat-select ngDefaultControl formControlName="children">
                <mat-option *ngFor="let option of childrenOptions" [value]="option.value">
                    {{option.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Co-Applicants</mat-label>
            <mat-select ngDefaultControl formControlName="coapplicant">
                <mat-option *ngFor="let option of coaplicantOptions" [value]="option.value">
                    {{option.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-button color="primary" type="submit" [disabled]="!loanForm.valid">Submit</button>
    </form>
</div>

<div class="result" *ngIf="loanResult$ | async; let loan">
    <p>Loan Amount: {{loan.loanAmount}}</p>
    <p>Interest Rate: {{loan.interestRate}}</p>
</div>

<div *ngIf="errors$ | async; let error">
    <div *ngIf="error?.error?.general">
        <p>{{error?.error?.general?.message}}</p>
    </div>
    <div *ngIf="error?.error?.fields">
        <div *ngFor="let issue of error?.error?.fields">
            <p>{{issue.params}}: {{issue.message}}</p>
        </div>
    </div>
</div>