.form-container{
    background-color:rgb(240, 119, 38);
    width: 400px; 
    margin: 0px auto; 
    margin-top: 200px;
    padding:3rem;
    border-radius: 25px;

    button {
        display: block;
    }
}
